.espacio-arriba{
    margin-top:50px;
}
.alertaenvio{
    display:none;
}

.modal {
       display: none;
       position: absolute;
       top: 25%;
       left: 25%;
       width: 30%;
       height: 10%;
       padding: 16px;
     /*  background: #359CC7;
       color: #333; */
       z-index:1002;
       overflow: auto;
   }

.texto{
    color: white;
}