<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/fonts/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/freelancer.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/jquery-2.2.1.min.js" type="text/javascript"></script>
    <script src="~/scripts/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,300,700" />

    <title>Solicitudes TI</title>
    <script type="text/javascript">
        function AbrirModal() {
            $("#modalprueba").modal("show");
        }
    </script>
</head>
<body>
    <div class="col-md-12  fondo quitar-float ">
        <div class="col-md-12  espacio-arriba text-center ">
            <img src="http://www.techandsolve.com/web/images/logo.png" alt="Tech and Solve" />
        </div>
    </div>
    <div class="col-md-12 espacio-arriba2 quitar-float text-center  ">
        <h1 class="titulo2">Solicitudes Tech and Solve</h1>
        <h2 class="subtitulo">¡Recuerde...!</h2>
        <p class="parrafo">Antes de crear una solicitud, puede consultar en la wiki de Tech</p>
        <nav>
            <a href="#" class="btn btn-primary espacio_derecha" role="button">Wiki Tech</a>
            <a href="Enviaremail/Index2" class="btn btn-success " role="button">Crear Solicitud</a>
        </nav>
        <br><br><br>
        <br><br><br>
    </div>
 
    <button onclick="AbrirModal()">ABRIR</button>
    <div id="modalprueba" class="modal fade bs-example-modal-sm" tabindex="1000000000" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <label> SOY YOSIMAR.</label>
                <button>HOLA</button>
            </div>
        </div>
        <br><br><br>
    </div>
     <!-- Footer -->
     <footer class="text-center  color-footer">
     
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Tickets 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>   
</body>

</html>
